body {
	font-family: 'Noto Serif CJK TC', 'Apple LiSung Light', 'LiSong Pro Light', 'SimSun', serif, 'Microsoft JhengHei', sans-serif;
	color: #4d4d4d;
	font-display: block;
}

/* layout */
.container {
	padding: 5em 2em 5em;
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
}
footer .container {
	padding: 3em 3em;
}

.col { display: inline-block; }
.block { display: block; }
.flex { display: flex; }
.d-table { display: table; }
.d-row { display: table-row; }
.d-cell { display: table-cell; }

.mx-auto { margin-left: auto!important; margin-right: auto!important; }
.mt-s {	margin-top: 8px; }
.mt-1 {	margin-top: 0.8em; }
.mt-2 {	margin-top: 1.4em; }
.mt-3 {	margin-top: 2em; }
.mb-0 {	margin-bottom: 0; }
.mb-1 {	margin-bottom: 0.8em; }
.mb-2 {	margin-bottom: 1.4em; }
.mb-3 {	margin-bottom: 2em; }
.mb-4 {	margin-bottom: 4em; }
.mb-5 {	margin-bottom: 6em; }
.mb-s { margin-bottom: 10px; }
.my-0 { margin-top: 0; margin-bottom: 0;}
.my-1 { margin-top: 0.5em; margin-bottom: 0.5em;}
.ml-s { margin-left: 10px; }
.ml-3 { margin-left: 3em; }
.pt-0 { padding-top: 0; }
.pt-1 { padding-top: 0.8em; }
.pt-2 { padding-top: 1.4em; }
.pt-4 { padding-top: 4em; }
.pb-0 { padding-bottom: 0; }
.pb-2 { padding-bottom: 1.4em; }
.pb-4 { padding-bottom: 4em; }

.w100 { width: 100%; }
.max-w7 { max-width: 720px; }
.max-w6 { max-width: 600px; }
.max-w5 { max-width: 550px; }
.max-w4 { max-width: 420px; }

.show-sm { display: none; }
.hide { display: none; }

/* position */
.relative {
	position: relative;
}
.ab-center {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.ab-right {
	position: absolute;
	right: 0;
}
.fixed-rt {
	position: fixed;
	right: 30px;
	top: 30px;
	z-index: 90;
}
.fixed-lb {
	position: fixed;
	left: 20px;
	bottom: 20px;
	z-index: 90;
}
.flex-center {
	align-items: center;
}
.flex-end {
	align-items: flex-end;
}
.flex-middle {
    justify-content: center;
}
.flex-space {
    justify-content: space-between;
}


/* bg color */

.bg-no {
	background: transparent;
}
.bg-white {
	background-color: rgba(255, 255, 255, 1);
}
.bg-lightgray {
	background-color: #fafafa;
}
.bg-gray {
	background-color: #f2f2f2;
}
.bg-black {
	background-color: #000;
}
.bg-blue {
	background-color: #001644;
}

/* bg linear */
.bg-linear-blue {
	background: linear-gradient(rgba(38, 140, 149, 0) 35%, rgba(38, 140, 149, 0.9) 70%);
}
.bg-linear-blue-black {
	background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.995) 100%);
}
.bg-linear-white {
	background: linear-gradient(rgba(255, 255, 255, 0.90),rgba(255, 255, 255, 0.95) 25%, rgba(255, 255, 255, 1) 100%);
}
.bg-linear-white2 {
	background: linear-gradient(to top, rgba(255, 255, 255, 0.90),rgba(255, 255, 255, 0.95) 25%, rgba(255, 255, 255, 1) 100%);
}
.bg-linear-white3 {
	background: linear-gradient(to right, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0.8) 60%);
}
.bg-linear-white4 {
	background: linear-gradient(to right, rgba(232, 251, 255, 1), rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 65%, rgba(255, 255, 255, 0.4) 100%);
}
.bg-linear-black {
	background: linear-gradient(rgba(0, 16, 30, 1) 15%, rgba(0, 16, 30, 0) 100%);
}
.bg-linear-black2 {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2) 100%);
	margin-top: -3px;
}
.bg-linear-black3 {
	background: linear-gradient(rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.95) 100%);
}
.bg-linear-orange {
	background: linear-gradient(to right, rgba(226, 142, 38, 1) 30%, rgba(255, 149, 0, 0.4) 100%);
}

/* bg img */
.bg-picswall {
	width: 100%;
    height: 100%;
    z-index: -30;
    top: 0;
    left: 0;
   	position: absolute;
   	background-image: url('../img/bg/picswall-long.jpg');
   	background-repeat: repeat-y;
   	background-size: 100% auto;
}
.bg-fixed {
	width: 100%;
    height: 100%;
    z-index: -20;
	position: absolute;
	overflow: hidden;
}
.bg-fixed > div {
	width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}
.bg-air {
	background-image: url('../img/bg/air.jpg?v=2');
}
div.bg-equal {
	background-image: url('../img/bg/equal.jpg');
	background-position: center 55%;
}
div.bg-plane {
	background-image: url('../img/bg/plane.jpg');
	background-position: calc(100% + 200px) 55%;
}
div.bg-hug {
	background-image: url('../img/bg/hug.jpg');
	background-color: #fff;
	background-size: 60%;
	background-position: calc(100% + 300px) 50%;
}
div.bg-pics {
	background-image: url('../img/bg/picswall-long.jpg');
	background-repeat: repeat;
	background-color: #000;
	background-size: 100% auto;
	background-position: 0% 0%;
	opacity: 0;
	transition: all 1s ease-in-out;
	top: 0;
}
#bgPics1 {
	animation: shinning 20s infinite 0s;
}
#bgPics2 {
	background-position: 0% -50%;
	animation: shinning 20s infinite 2s;
}
#bgPics3 {
	background-position: 0% -100%;
	animation: shinning 20s infinite 4s;
}
#bgPics4 {
	background-position: 0% -150%;
	animation: shinning 20s infinite 6s;
}
#bgPics5 {
	background-position: 0% -200%;
	animation: shinning 20s infinite 8s;
}
#bgPics6 {
	background-position: 0% -250%;
	animation: shinning 20s infinite 10s;
}
#bgPics7 {
	background-position: 0% -300%;
	animation: shinning 20s infinite 12s;
}
#bgPics8 {
	background-position: 0% -350%;
	animation: shinning 20s infinite 14s;
}
#bgPics9 {
	background-position: 0% -400%;
	animation: shinning 20s infinite 16s;
}
#bgPics10 {
	background-position: 0% -450%;
	animation: shinning 20s infinite 18s;
}

@keyframes shinning {
    0%{ opacity: 0; }
    10%{ opacity: 1; }
    20%{ opacity: 1; }
    30%{ opacity: 0; }
    100%{ opacity: 0; }
}
/* bgdec */
.float-bloon {
	position: absolute;
}
#bloonA {
	margin-top: -120px;
}
#bloonB {
	margin-top: -200px;
	margin-left: -100px;
}
#hugLine {
	margin-bottom: -10px;
}

/* color */
.t-white {
	color: #fff;
}
.t-orange {
	color: #f7aa1e;
}
.t-deepblue {
	color: #001644;
}
.t-lightgray {
	color: #e6e6e6;
}
.t-yellow {
	color: #ffc621;
}
.t-shadow {
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
}

/* text */
a {
	text-decoration: none;
	color: inherit;
}
a, button, details {
	-webkit-tap-highlight-color: transparent;
}
a, button, input[type="submit"], details {
	cursor: pointer;
}
p {
	font-family: 'Arial', 'Noto Sans CJK TC', 'PingFang TC', 'Heiti TC', 'Noto Sans TC', source-han-sans-traditional, 'Microsoft JhengHei', sans-serif;
	line-height: 1.5;
    font-weight: 300;
}
p + p {
	margin-top: 0.7em;
}
.t-white p, p.t-white {
	font-weight: 300;
}
h2 {
	line-height: 1.5;
	font-weight: 300;
}
hr {
	width: 100%;
    border: 0;
    border-top: 1px solid;
}
.lh13 {
	line-height: 1.3;
}
.lh15 {
	line-height: 1.5;
}
.lh18 {
	line-height: 1.8;
}
.lh20 {
	line-height: 2.0;
}
.t-underline {
	text-decoration: underline;
}
.t-center {
	text-align: center;
}
.t-left {
	text-align: left;
}
.t-right {
	text-align: right;
}
.t-justify {
	text-align: justify;
}
.bold {
	font-weight: 700;
}
.t-llg {
	font-size: 28px;
}
.t-lg {
	font-size: 24px;
}
.t-midlg {
	font-size: 22px;
}
.t-mid {
	font-size: 18px;
}
.t-midsm {
	font-size: 16px;
}
.t-sm {
	font-size: 14px;
}
.t-ssm {
	font-size: 12px;
}
.quota {
	position: relative;
	display: inline-block;
	line-height: 1.8;
}
.quota::before, .quota::after {
	content: '「';
	display: block;
	position: absolute;
	font-size: 1.5em;
}
.quota::before {
	top: -0.4em;
	left: -1.2em;
}
.quota::after {
	content: '」';
	bottom: -0.4em;
	right: -1em;
}
.quota-left {
	margin-left: 0.9em;
}
/* media */
img {
	max-width: 100%;
	width: auto;
	height: auto;
}
.video-wrapper {
	padding-top: 56.25%;
	position: relative;
	margin-bottom: 5px;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

/* card-pic */
.card-pic {
	position: relative;
	height: 500px;
	width: 100%;
	flex-grow: 1;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
}
.card-bgimg {
	position: relative;
	width: 50%;
	height: 100%;
	z-index: -10;
	overflow: hidden;
	text-align: right;
}
.imgblack {
	position: relative;
	display: inline-block;
	width: auto;
	height: 100%;
}
.imgblack::before {
	content: '';
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%), linear-gradient(to right, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%);
	z-index: 0;
	top: 0;
	left: 0;
}
.card-bgimg img {
	height: 100%;
	width: auto;
}
.card-text {
	width: 50%;
	padding: 30px;
}
/* single-full-slider */
.single-full-slider {
}
/* card-purpose */
.card-purpose {
	display: inline-block;
	position: relative;
	text-align: center;
	background: linear-gradient(rgba(255, 242, 187, 1), rgba(255, 255, 255, 1) 100%);
	color: #001644;
	width: 200px;
	max-width: 200px;
	height: 200px;
	padding: 18px;
	border-radius: 30px;
	border: 2px solid #fff;
	margin: 10px;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
}
.card-purpose svg {
	fill: #001644;
}
.card-purpose::before {
	content: '';
	display: block;
	position: absolute;
	top: -4px;
	left: -4px;
	width: 200px;
	height: 200px;
	border-radius: 32px;
	border: 2px solid #001644;
}
.card-purpose.lighted {
	background: linear-gradient(rgba(247, 170, 30, 1), rgba(247, 125, 30, 1) 100%);
	color: #fff;
}
.card-purpose .svg {
	margin: 0 auto;
	width: 130px;
	height: 130px;
}
.card-purpose.lighted svg {
	fill: #fff;
}
.card-back {
	transform-style: preserve-3d;
  	transition: all 1s ease-in-out;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 16px;
	border-radius: 30px;
	color: #fff;
	opacity: 0;
	background: linear-gradient(rgba(0, 41, 112, 1), rgba(0, 22, 68, 1) 100%);
  	transition: all 0.4s ease-in-out;
}
.card-back::after {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
}
.card-purpose:hover .card-back, 
.card-purpose:focus .card-back,
.card-purpose.hover .card-back {
    opacity: 1;
}
.card-purpose::after {
	content: '';
	display: block;
	position: absolute;
	width: 2px;
	height: 1.5em;
	background-image: linear-gradient(to bottom, #001614 60%, rgba(255, 255, 255, 0) 0%);
	background-position: left;
	background-size: 2px 10px;
	background-repeat: repeat-y;
	left: 0;
	right: 0;
	bottom: -1.6em;
	margin: auto;
	z-index: 0;
}

.slider-item:nth-of-type(n + 4) .card-purpose::after {
	bottom: auto;
	top: -1.5em;
	z-index: 0;
}
.card-purpose.w100 {
	width: 100%;
	max-width: 650px;
	height: auto;
	padding: 40px 50px 40px;
	background: linear-gradient(rgba(0, 41, 112, 1), rgba(0, 22, 68, 1) 100%);
	cursor: initial;
	margin: 0 auto;
	display: block;
}
.card-purpose.w100::before {
	width: calc(100% + 4px);
	height: calc(100% + 4px);
}
.card-purpose.w100::after {
	content: none;
}
/* slider */
.slick-slider {
	position: relative;
	overflow: hidden;
	padding-top: 70px;
}
#secRewardsPics .slick-slider {
	padding-top: 0;
}
.igimg {
	max-width: 400px;
}
.slider-item {
	display: inline-block;
}
.slick-arrow, .slick-dots {
	position: absolute;
}
.slick-arrow, .slick-dots button {
	background: none;
	border: none;
	font-size: 0;
	color: transparent;
}
.single-full-slider .slick-arrow::before {
	content: '';
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: 0px solid #f7aa1e;
	border-top-width: 1px;
	border-left-width: 1px;
	z-index: 10;
	transform: rotate(-45deg);
	top: 8px;
}
.single-full-slider .slick-next::before{
	transform: rotate(135deg);
	left: -10px;
}
.single-full-slider .slick-arrow {
	height: 50px;
	width: 30px;
	top: 70px;
	bottom: 0;
	margin: auto;
}
.slick-prev {
	left: 30px;
}
.slick-next {
	right: 30px;
}
.slick-dots {
	top: 0px;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}
.slick-dots li {
	display: inline-block;
	margin: 5px;
}
.slick-dots li button {
	display: inline-block;
	padding: 0;
	width: 15px;
	height: 15px;
	background-color: #f7aa1e;
	border-radius: 50%;
	opacity: 0.2;
	transition: opacity 0.2s ease;
	border: 2px solid #000;
}
.slick-dots li.slick-active button {
	opacity: 1;
}
/* card */
.card-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.card {
	display: inline-flex;
	flex-direction: column;
	width: 200px;
	height: 230px;
	margin: 10px 10px 20px;
	border-radius: 15px;
	border: 2px solid #0066c5;
	position: relative;
	background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 100%);
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.card-pink {
	border-color: #f7708b;
}
.card:hover, .card.hover {
	background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 245, 230, 1) 100%);
	border-color: #f78c1e;
	transform: translateY(-5px);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12);
}
.card-header {
	background-color: #0066c5;
	color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 10px 13px 10px 13px;
	display: flex;
	justify-content: space-between;
	min-height: 73px;
}
.card:hover .card-header, .card.hover .card-header {
	background: linear-gradient(rgba(247, 170, 30, 1), rgba(247, 134, 30, 1) 100%);
}
.card-pink .card-header {
	background-color: #f7708b;
}
.card-icons {
	padding-top: 2px;
}
.card-icons span {
	font-size: 36px;
	line-height: 0.8;
}
.card-body {
	padding: 10px 15px;
	line-height: 1.5;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.card-tab {
	position: absolute;
	background-color: #fb98ba;
	color: #fff;
	font-size: 12px;
	padding: 5px 10px;
	top: -16px;
	right: -8px;
}
.card-tab::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 6px 0 2px;
    border-color: #d24277 transparent transparent transparent;
    top: 22px;
    right: 0;
}
.btn-donate {
	border: 2px solid #f7a11e;
	background-color: #fff;
	background-size: 0 100%;
	color: #f78e1e;
	width: 100%;
	padding: 10px 20px;
	display: block;
	text-align: center;
	border-radius: 50px;
	font-size: 18px;
	font-weight: 500;
	overflow: hidden;
	transition: all 0.4s ease;
	position: relative;
	z-index: 1;
}
.btn-donate::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	background: linear-gradient(rgba(247, 170, 30, 1), rgba(247, 134, 30, 1) 100%);
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: all 0.2s ease;
	max-height: 0;
}
.btn-donate:hover {
	color: #fff;
	border-color: transparent;
}
.btn-donate:hover::after {
	max-height: 100px;
}

.btn-todonate {
	display: block;
	width: 56px;
	height: 52px;
	background: linear-gradient(rgba(255, 198, 33, 1), rgba(250, 179, 31, 1) 100%);
	margin-top: 10px;
	padding: 10px 12px;
	color: #006897;
	border-radius: 10px;
	position: relative;
}
.btn-todonate::after {
	content: '';
	display: block;
	position: absolute;
	width: 58px;
	height: 54px;
	top: -2px;
	left: -2px;
	border-radius: 12px;
	border: 1px solid #fff;
}
/* person */
.person {
	display: inline-block;
	width: 170px;
}
.person + .person {
	margin-left: 20px;
}
.person-img {
	margin: 0 auto 10px;
	overflow: hidden;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	border: 2px solid #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 1);
}
/* animation air plane */
.plane-anima {
	position: relative;
}
.plane-fly {
	position: absolute;
	top: 0;
}

/* list */
.doneitem {
	margin-bottom: 1em;
	position: relative;
}
.doneitem::before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 1px;
	height: 72px;
	background-color: #fff;
	top: 10px;
    left: 6px;
    transition: height 0.3s ease-in-out 0.1s;
}
.doneitem:last-of-type::before {
	width: 0;
}
.doneitem.active::before {
	height: 70px;
	transition: height 0.3s ease-in-out 0s;
}
.doneitem a {
	padding: 3px;
	padding-left: 22px;
	display: block;
}
.doneitem a::before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50px;
	background-color: #fff;
	top: 10px;
	left: 3px;
}
.doneitem p {
	padding-left: 23px;
}
.doneitem.details.active .details-content {
	max-height: 80px;
}
.cake-list {
	line-height: 2;
}
.cake-list li {
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	position: relative;
}
.cake-list li::before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 13px;
	height: 13px;
	left: 2px;
	top: 8px;
	border-radius: 3px;
	background-color: #001644;
}
.cake-list li:nth-of-type(2)::before {
	background-color: #004081;
}
.cake-list li:nth-of-type(3)::before {
	background-color: #0079b8;
}
.cake-list li:nth-of-type(4)::before {
	background-color: #6bbadb;
}

/* tab page */
.tab {
	display: inline-block;
	background-color: #ccc;
	color: #fff;
	padding: 7px 12px;
	transition: all 0.2s ease;
}
.tab.active {
	background-color: #001644;
	pointer-events: none;
}
.tabs-list {
	border-bottom: 1px solid #001644;
}
.question {
	padding: 0px 0;
	display: block;
	position: relative;
	padding-right: 1.5em;
}
.question:after {
	content: '';
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	right: 2px;
	top: 0px;
	border: 0px solid #001644;
	border-left-width: 1px;
	border-bottom-width: 1px;
	transform: rotateZ(-45deg);
}
.faq + .faq {
	border-top: 1px solid #ccc;
}
.faq {
	padding: 20px 0;
}
.faq p a,
.faq li a {
	color: #3668a2;
}
.details.active .question:after {
	transform: rotateZ(135deg);
	border-color: #aaa;
	top: 8px;
}
.page {
	display: none;
}
.page.active {
	display: block;
}

/* details */
.details {

}
.details-content {
	max-height: 0;
	transition: max-height 0.4s ease-in-out;
	overflow: hidden;
}
.details-content p:first-of-type {
	margin-top: 12px;
} 
.details.active .details-content {
	max-height: 400px;
}

/* progress-bar */
.progress-bar {
	max-width: 680px;
	margin: 1.6em auto 3em;
	position: relative;
	z-index: 1;
}
.progress-outline {
	width: 100%;
	border-radius: 20px;
	height: 10px;
	border: 1px solid #fff;
	position: relative;
}
.progress-split {
	display: flex;
	justify-content: space-between;
	margin-top: 12px;
}
.progress-split span {
	position: relative;
	display: inline-block;
	max-width: 0px;
	white-space: nowrap;
	text-indent: -0.8em;
}
.progress-split span::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 1px;
	height: 8px;
	background-color: #fff;
	top: -12px;
	left: 0;
	right: 0;
	margin: auto;
}
.progress-split span:first-of-type::after,
.progress-split span:last-of-type::after {
	content: none;
}
.progress-complete {
	position: absolute;
	height: 8px;
	border-radius: 20px;
	top: 0px;
	left: 0px;
	width: calc(0% - 2px);
	max-width: calc(100% - 2px);
	min-width: 0;
	background: linear-gradient(rgba(255, 198, 33, 1), rgba(250, 179, 31, 1) 100%);
	border: 1px solid #318e94;
	transition:all 1.2s ease-out 0.6s;
}
.progress-complete span {
	position: absolute;
	display: inline-block;
	height: 16px;
	width: 16px;
	border-radius: 20px;
	right: -11px;
	top: -6px;
	background: linear-gradient(rgba(255, 198, 33, 1), rgba(250, 179, 31, 1) 100%);
	border: 1px solid #318e94;
}
.progress-complete span::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 20px;
	border: 1px solid #fff;
	top: -2px;
	left: -2px;
	box-shadow: 0 0 5px #318e94;
}

.bar-blueline.progress-bar {
	margin: 1em auto;
}
.bar-blueline .progress-outline {
	border: 2px solid #001644;
}
.bar-blueline .progress-split {
	margin-top: -3px;
}
.bar-blueline .progress-split span {
	color: #001644;
	text-indent: 0.5em;
	font-weight: 700;
}
.bar-blueline .progress-split span:first-of-type {
	text-indent: -2.5em;
}
.bar-blueline .progress-complete {
	height: 6px;
	border: 1px solid #fff;
}
.bar-blueline .progress-complete span {
	border: 1px solid #fff;
}
.bar-blueline .progress-complete span::after {
	border: 2px solid #001644;
	top: -3px;
	left: -3px;
	box-shadow: none;
}

/* copy & hint */
.btn-copy-link {
	position: relative;
}
.hint {
	display: inline-block;
	padding: 5px 10px;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	position: absolute;
	top: -45px;
	left: -100px;
	right: -100px;
	max-width: 93px;
	margin: auto;
	white-space: nowrap;
	font-family: 'Arial', 'Noto Sans CJK TC', 'PingFang TC', 'Heiti TC', 'Noto Sans TC', source-han-sans-traditional, 'Microsoft JhengHei', sans-serif;
	transition: all 0.4s ease-in-out;
	opacity: 0;
	transform: translateY(5px);
}
.hint::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: -5px;
	left: 0;
	right: 0;
	margin: auto;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
}
.btn-copy-link.copied .hint {
	opacity: 1;
	transform: translateY(0px);
}